<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521010525262-53t8t68flt7ppv79t7mt973crgdkao65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521010525262-53t8t68flt7ppv79t7mt973crgdkao65</string>
	<key>API_KEY</key>
	<string>AIzaSyCAe-NyXNhoPbuzrttSOfCXr2iDE6Ne6o8</string>
	<key>GCM_SENDER_ID</key>
	<string>521010525262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.wtf.chat-journal</string>
	<key>PROJECT_ID</key>
	<string>wtf-chat-journal</string>
	<key>STORAGE_BUCKET</key>
	<string>wtf-chat-journal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521010525262:ios:a3df4737b7c8e40d443f1f</string>
	<key>DATABASE_URL</key>
	<string>https://wtf-chat-journal-default-rtdb.firebaseio.com</string>
</dict>
</plist>