.dart_tool

.idea

.build

.flutter-plugins

.flutter-plugins-depenencies

.metadata

.packages

analysis_options.yaml

project_app.iml

pubspec.lock
/ios/
/integration_test/
/assets/
/test/
/web/
/android/