.dart_tool

.idea

.android

assets

.build


integration_test

ios

test

windows

.flutter-plugins

.flutter-plugins-depenencies

.metadata

.packages

analysis_options.yaml

project_app.iml.iml

pubspec.lock
